<!DOCTYPE html>
<html>
<head>  
    <title>Main Page</title>
</head>

<body>
    <h1 style="text-align: center;">URL Shortener</h1> 

    <form method="POST" style="text-align: center;">
        <input type="url" name="url_input" placeholder="Enter URL" required>
        <button type="submit">Submit</button>
    </form>

    <!--    Jinja   -->
    {% if shortened_url %}
        <p style="font-size: 18px; text-align: center;">Shortened URL: <a href="http://{{ shortened_url }}" target="_blank">{{ shortened_url }}</a></p>
    {% endif %}

</body>

</html>